# Intellij Idea
/.idea/
out/
*.iml
*.iws
*.ipr

# Gradle
.gradle
build/

# Kotlin
/.kotlin/
/buildSrc/.kotlin/

# Project
komok-app/src/main/resources/application.conf

# System
.DS_Store

# Publish
publish.sh
